.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-top: 32px;
  max-width: 360px;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    margin-top: 16px;
    max-width: 288px;
  }
}
