.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    max-width: 255px;
  }
}
