.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 32px);
    padding-top: 64px;
    flex-direction: column;
    gap: 48px;
  }
}
