.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
}
